<% content_for "header" do %>
<meta name="description" content="<%= I18n.translate(locale, "An alternative front-end to YouTube") %>">
<title>
    <% if env.get("preferences").as(Preferences).default_home != "Trending" %>
        <%= I18n.translate(locale, "Trending") %> - Invidious
    <% else %>
        Invidious
    <% end %>
</title>
<% end %>

<div class="pure-g">
<% trending.each do |item| %>
    <%= rendered "components/item" %>
<% end %>
</div>

<script src="/js/watched_indicator.js"></script>

